@{
    ViewBag.Title = "Endpage";
}

<h2>Endpage</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Time End</title>
</head>
<body>
   
    Time End........
</body>
</html>
